@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1280px; 
    height: 1024px;
    margin: auto;
    overflow: hidden;
}

.title-frame{
    position: absolute;
    width: 1295px;
    height: 106px;
    left: -15px;
    top: 0px;
    background: #367349;
}

.title { 
    position: absolute;
    width: 950px;
    height: 63px;
    left: 173px;
    top: 22px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}


.node-status{ 
    position: absolute;
    width: 1280px;
    height: 168px;
    left: 0px;
    top: 106px;
}

/* Node Status Title */
.node-status-title {
    position: absolute;
    width: 238px;
    height: 48px;
    left: 12px;
    top: 0px; 
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #367349;
    margin: 0;
}

.node-grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.node1-box { 
    position: absolute;
    width: 387px;
    height: 104px;
    left: 12px;
    top: 48px;
}

.node1-rectangle { 
    position: absolute;
    width: 387px;
    height: 104px;
    left: 0;
    top: 0;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.node1-button-bg { 
    position: absolute;
    width: 185.53px;
    height: 52.75px;
    left: 194px; 
    top: 26px;  
    background: #D9D9D9;
    border-radius: 25px;
}

.node1-button {
    position: absolute;
    width: 78.58px;
    height: 26.89px;
    left: 247.48px; 
    top: 38.41px;  
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #367349;
}

.node1-label { 
    position: absolute;
    width: 87px;
    height: 32px;
    left: 17px; 
    top: 36px; 
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}
 
.node2-box { 
    position: absolute;
    width: 387px;
    height: 104px;
    left: 446px;
    top: 48px;
}

.node2-rectangle { 
    position: absolute;
    width: 387px;
    height: 104px;
    left: 0;
    top: 0;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.node2-button-bg { 
    position: absolute;
    width: 185.53px;
    height: 52.75px;
    left: 194px;
    top: 26px;  
    background: #D9D9D9;
    border-radius: 25px;
}

.node2-button {
    position: absolute;
    width: 78.58px;
    height: 26.89px;
    left: 247.48px; 
    top: 38.41px;  
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #367349;
}

.node2-label { 
    position: absolute;
    width: 87px;
    height: 32px;
    left: 17px; 
    top: 36px; 
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.node3-box { 
    position: absolute;
    width: 387px;
    height: 104px;
    left: 880px;
    top: 48px;
}

.node3-rectangle { 
    position: absolute;
    width: 387px;
    height: 104px;
    left: 0;
    top: 0;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.node3-button-bg { 
    position: absolute;
    width: 185.53px;
    height: 52.75px;
    left: 194px; 
    top: 26px;  
    background: #D9D9D9;
    border-radius: 25px;
}

.node3-button {
    position: absolute;
    width: 78.58px;
    height: 26.89px;
    left: 247.48px; 
    top: 38.41px; 
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #367349;
}

.node3-label { 
    position: absolute;
    width: 87px;
    height: 32px;
    left: 17px; 
    top: 36px; 
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.terminal-frame {
        box-sizing: border-box;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid #4D4D4D;
        border-radius: 20px;
        /* Default Size for our 3 terminals */
        width: 580px;
        height: 340px;
    }

    .terminal-header {
        position: absolute;
        width: 100%;
        height: 40px;
        top: 10px;
        text-align: center;
        font-family: 'JetBrains Mono';
        font-weight: 500;
        font-size: 24px;
        color: #367349;
        margin: 0;
    }

    .terminal-screen {
        position: absolute;
        width: 540px; /* Frame width - 40px padding */
        height: 270px; /* Frame height - 70px padding */
        left: 20px;
        top: 55px;
        background: #000000;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #333;
    }

    .terminal-iframe {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #ffffff;
    }